<?xml version="1.0"?>
<config>
	<modules>
		<Ebizmarts_SagePayReporting>
			<version>0.1.3</version>
		</Ebizmarts_SagePayReporting>
	</modules>
	<frontend>
        <!--
		<routers>
			<sagepayreporting>
				<use>standard</use>
				<args>
					<module>Ebizmarts_SagePayReporting</module>
					<frontName>sagepayreporting</frontName>
				</args>
			</sagepayreporting>
		</routers>
		-->
		<layout>
			<updates>
				<sagepayreporting>
					<file>sagepayreporting.xml</file>
				</sagepayreporting>
			</updates>
		</layout>
        <translate>
            <modules>
                <Ebizmarts_SagePayReporting>
                    <files>
                        <default>Ebizmarts_SagePaySuite.csv</default>
                    </files>
                </Ebizmarts_SagePayReporting>
            </modules>
        </translate>
	</frontend>
	<admin>
        <!--
		<routers>
			<sagepayreporting>
				<use>admin</use>
				<args>
					<module>Ebizmarts_SagePayReporting</module>
					<frontName>sagepayreporting</frontName>
				</args>
			</sagepayreporting>
		</routers>
		-->
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sagepayreporting after="Mage_Adminhtml">Ebizmarts_SagePayReporting_Adminhtml</sagepayreporting>
                    </modules>
                </args>
            </adminhtml>
        </routers>
	</admin>
	<adminhtml>
        <translate>
            <modules>
                <Ebizmarts_SagePayReporting>
                    <files>
                        <default>Ebizmarts_SagePaySuite.csv</default>
                    </files>
                </Ebizmarts_SagePayReporting>
            </modules>
        </translate>
		<layout>
			<updates>
				<sagepayreporting>
					<file>sagepayreporting.xml</file>
				</sagepayreporting>
			</updates>
		</layout>
	</adminhtml>
	<global>
        <ignoredModules> <!-- To avoid Mage_Log to slow down things -->
            <entities>
                <sagepayreporting />
            </entities>
        </ignoredModules>
		<models>
			<sagepayreporting>
				<class>Ebizmarts_SagePayReporting_Model</class>
				<resourceModel>sagepayreporting_mysql4</resourceModel>
			</sagepayreporting>
			<sagepayreporting_mysql4>
				<class>Ebizmarts_SagePayReporting_Model_Mysql4</class>
				<entities>
					<sagepayreporting_fraud>
						<table>sagepayreporting_fraud</table>
					</sagepayreporting_fraud>
				</entities>
			</sagepayreporting_mysql4>
		</models>
		<resources>
			<sagepayreporting_setup>
				<setup>
					<module>Ebizmarts_SagePayReporting</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</sagepayreporting_setup>
			<sagepayreporting_write>
				<connection>
					<use>core_write</use>
				</connection>
			</sagepayreporting_write>
			<sagepayreporting_read>
				<connection>
					<use>core_read</use>
				</connection>
			</sagepayreporting_read>
		</resources>
		<blocks>
			<sagepayreporting>
				<class>Ebizmarts_SagePayReporting_Block</class>
			</sagepayreporting>
		</blocks>
		<helpers>
			<sagepayreporting>
				<class>Ebizmarts_SagePayReporting_Helper</class>
			</sagepayreporting>
		</helpers>
	</global>
	<crontab>
		<jobs>
			<sagepaysuite_get_thirdman_scores>
				<schedule>
					<cron_expr>*/15 * * * *</cron_expr>
				</schedule>
				<run>
					<model>sagepayreporting/cron::getThirdmanScores</model>
				</run>
			</sagepaysuite_get_thirdman_scores>
		</jobs>
	</crontab>
</config>