h3.head-adminhtml-tokencard { background-image:url(../images/creditcards.png) }
h3.head-adminhtml-sagepayorfantrns { background-image:url(../images/error.png) }
h3.head-adminhtml-sales-order-deferred { background-image:url(../images/book_open.png) }
h3.head-adminhtml-sales-order-fraud, h3.head-adminhtml-sagepayreporting-fraud { background-image:url(../images/t3m.jpg) }

ul.tabs a.sagepaysuite-section span, ul.tabs a.sagepaysuite-section:hover span {background:url("../images/sagepay-section.png") no-repeat scroll 0 0 transparent;
height:0;
overflow:hidden;
padding:15px 0 0 0;
width:62px;
}
ul.tabs a.sagepaysuite-section, ul.tabs a.sagepaysuite-section:hover {
background:url("../../images/tabs_span_bg.gif") repeat-x scroll 0 100% transparent;
border-bottom:medium none;
padding:0.5em 0.5em 0.28em 1.5em;
}

ul.tabs a.sagepaysuite-section:hover {background-color:#d8e6e6;}

ul.tabs a.sagepaysuite-section.active, ul.tabs a.sagepaysuite-section.active:hover{background-color:#FFF;}


div.sagepay-payment-notice{
background:#EAF0EE;
border:1px solid #CCCCCC;
margin-bottom:10px;
padding:11px 0 0 10px;
}

strong.gr-ntce { color: #339933; }
strong.rd-ntce { color: #D40707; }

#control_overlay {
	background-color:#000;
}
div.lcontainer { background:#FFF; width:100%; height:100%; }
.modal-sagepaysuite {
    -webkit-border-radius: 8px 8px 8px 8px;  /* Safari, Chrome (before WebKit version 533) */
	-moz-border-radius: 8px 8px 8px 8px; /* Firefox up to version 3.6 */
	/*background-color:#fff;*/
	background: url(../images/border-bg.png) repeat scroll 0 0 transparent;
	padding:10px;
	border:4px;
}

.payments input.cvv { width:3em !important; }

select.month {width:140px;}
select.year {width:103px;}

/*input#p_method_sagepaydirectpro_moto + label, input#p_method_sagepayserver_moto + label { padding-bottom:1px; padding-left: 65px; background-repeat:no-repeat; background-image:url(../images/sagepay-section.png); }
input#p_method_sagepaydirectpro_moto + label span, input#p_method_sagepayserver_moto + label span { color:#FF0000; }*/

label[for="p_method_sagepaydirectpro_moto"], label[for="p_method_sagepayserver_moto"], label[for="p_method_sagepayrepeat"] { padding-bottom:1px; padding-left: 65px; background-repeat:no-repeat; background-image:url(../images/sagepay-section.png); }
label[for="p_method_sagepaydirectpro_moto"] span, label[for="p_method_sagepayserver_moto"] span { color:#FF0000; }

div.sagepaytrndetail tr td.label p { font-weight:bold; }
div.sagepaytrndetail tr td.label { width:145px; }
body.sagepayreporting-adminhtml-sagepayreporting-transactiondetailmodal { background:none; }
body.sagepayreporting-adminhtml-sagepayreporting-transactiondetailmodal div.entry-edit { width:658px; }

div#sgps-log-view-cont label {display:block;}
iframe#sagepaysuite-log-view { background: #BFBFBF; width: 100%; height:800px; border:1px solid #CCC; margin-top:10px; }

table.trndetail-basket thead { font-weight:bold; }
table.trndetail-basket { width:100%; border: 1px solid #ccc; }

select#sagepaysuite_sagepaysuite_order_error_save + p.note { color:#FF0000; }

code.on { color: #009F33; }
code.off { color: #FFA200; }
a#threeds-status-toggle { text-transform:lowercase; }
table#threed_rules_table { width: 600px; }

body.sagepayreporting-adminhtml-sagepayreporting-transactiondetailmodal .entry-edit-head { height:20px; }

button.close-modal { float:right; }
div.close-modal-container { width:100%; }

div.tooltip-suite span {color:#FF0000;}

table.sagepaysuite-selection span.csoon { color:#EA7601; }
table.sagepaysuite-selection thead tr th { padding-left:10px; padding-top:3px; }

p.note span.suite-low-rsk { color:green; display:block; }
p.note span.suite-med-rsk { color:orange; display:block; }
p.note span.suite-high-rsk { color:red; display:block; }

span.shield-flag { padding-left:20px; display:inline-block; /*width:20px; height:20px;*/ vertical-align:middle; }
span.shield-flag.threed-ok, span.shield-flag.matched  { background: url('../images/flags/icon-shield-check.png') no-repeat; }

span.shield-flag.notmatched { background: url('../images/flags/icon-shield-cross.png') no-repeat; }

span.shield-flag.notchecked, span.shield-flag.datanotchecked, span.threed-notchecked, span.securitycodematchonly { background: url('../images/flags/icon-shield-outline.png') no-repeat; }
span.shield-flag.notprovided { background: url('../images/flags/icon-shield-zebra.png') no-repeat; }
